extends layout1

block content
	div(class = "page-header text-center")
		h1
			span(class = "fa fa-anchor")
			| &nbsp; Matches
		br
		| You have #{user.points} points
		hr

		each m, i in matches
			form(action = "/wager", method = "post")
				| #{m.datetime}
				br
				br
				input(type = "text", name = "team_1", size = "8", placeholder = "Wager")
				| &nbsp;
				img(src = "/static/flags/#{m.team_1_img}")
				| &nbsp; #{m.team_1} (#{m.team_1_odds})
				| &nbsp; vs.
				| &nbsp; #{m.team_2} (#{m.team_2_odds})
				| &nbsp;
				img(src = "/static/flags/#{m.team_2_img}")
				| &nbsp;
				input(type = "text", name = "team_2", size = "8", placeholder = "Wager")
				| &nbsp;
				br
				br
				input(type = "text", name = "draw", size = "8", placeholder = "Wager")
				| &nbsp;
				| Draw (#{m.draw_odds})
				br
				br
				input(type = "text", name = "match", value = "#{m._id}", hidden = "true")
				button(type = "submit", class = "btn btn-warning btn-sm") Submit
				hr


		br
		br
		a(href = "/profile") Back to Profile



