extends layout1

block content
	div(class = "page-header text-center")
		h1
			span(class = "fa fa-anchor")
			| &nbsp; User Page

		a(href = "/logout" class = "btn btn-default btn-sm") Logout

	if message.length > 0
		div(class = "alert alert-danger")
			| #{message}

	div(class = "row")
		div(class = "col-sm-6")
			div(class = "well")
				h3(class = "text-info")
					span(class = "fa fa-user")
					| &nbsp; #{user.user}

				p
					hr
					strong name
					| : #{user.name}
					hr
					strong email
					| : #{user.email}
					hr
					strong points
					| : #{user.points}
					hr
					a(href = "/profile/update" class = "btn btn-default btn-sm") Update

		div(class = "col-sm-6")
			div(class = "well")
				h3(class = "text-info")
					span(class = "fa fa-user")
					| &nbsp; Wagers

				p
					hr
					strong Needs improvement
					hr
					each w, i in wagers
						strong date
						| : #{w.match.datetime}
						br
						strong match
						| : #{w.match.team_1} vs. #{w.match.team_2}
						br
						strong team
						| : #{w.team}
						br
						strong wager
						| : #{w.wager}
						br
						strong to win
						| : #{w.to_win}
						br
						strong result
						| : #{w.points}
						br
						hr
					a(href = "/matches" class = "btn btn-default btn-sm") Update

	hr



